<footer class="main-footer">
    <p>
        &copy; 2025 - Inventory Management project by <a href="https://github.com/Lemuller04" rel="noopener noreferrer" target="_blank">Leonardo Müller</a>, based on <a href="https://theodinproject.com" rel="noopener noreferrer" target="_blank">The Odin Project</a>'s <a href="https://www.theodinproject.com/lessons/node-path-nodejs-inventory-application" rel="noopener noreferrer" target="_blank">Inventory Application</a> project.
    </p>
</footer>
