<section class="main-sidebar">
    <nav>
        <ul>
            <li><a href="/" class="<%= currentPath === "/" ? "active-path" : "" %>">Dashboard</a></li>
            <li><a href="/weapons" class="<%= currentPath === "/weapons" ? "active-path" : "" %>">Weapons</a></li>
            <li><a href="/categories" class="<%= currentPath === "/categories" ? "active-path" : "" %>">Categories</a></li>
            <li><a href="/types" class="<%= currentPath === "/types" ? "active-path" : "" %>">Types</a></li>
        </ul>
    </nav>
</section>
