<section class="category-show">
    <h2><%= category.title %> Category Details</h2>
    <p><%= category.description %></p>

    <div class="item-buttons">
        <a href="/categories" class="open-button">Return</a>
        <form method="POST" action="/categories/<%= category.slug %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
        <a href="/categories/<%= category.slug %>/edit" class="edit-button">Edit</a>
    </div>
</section>
