<section class="error-page-section">
    <h2><%= title %></h2>
    <p>The page you where looking for was not found. You can go back do the dashboard by clicking here: <a href="/">dashboard</a></p>
</section>
