<section class="index-section">
    <div class="index-options-container">
        <div>
            <h3><a href="/items">Manage Items</a></h3>
        </div>
        <div>
            <h3><a href="/categories">Manage categories</a></h3>
        </div>
        <div>
            <h3><a href="/types">Manage types</a></h3>
        </div>
    </div>
</section>
